{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": [
		"plugin:@typescript-eslint/recommended-requiring-type-checking",
		"plugin:react/recommended",
		"plugin:react/jsx-runtime",
		"standard-with-typescript",
		"eslint-config-prettier",
		"prettier"
	],
	"parserOptions": {
		"sourceType": "module",
		"parser": "@typescript-eslint/parser",
		"ecmaVersion": 2022,
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"overrides": [
		{
			"files": ["*.ts", "*.tsx"],
			"parserOptions": {
				"project": ["**/tsconfig.json"],
				"createDefaultProgram": true
			}
		}
	],
	"plugins": ["react", "@typescript-eslint"],
	"rules": {
		"react/prop-types": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/strict-boolean-expressions": "warn"
	}
}
